@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;800&display=swap");


@font-face {
  font-family: 'Richie Brusher';
  src: url('Richie Brusher.ttf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

:root {
  --card-width: 0px;
  --card-height: 0px;
  --card-transition-duration: 800ms;
  --card-transition-easing: ease;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}



.menu-logo{
  display: flex;
  justify-content: center;
  margin-top: 10px;
  text-align: center;
  font-family: 'Richie Brusher', Arial ;
  font-size: 4em;
  font-weight: bold;
  color: black;
}

.menu-nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 16px 16px;
  box-shadow: 5px 4px 3px #C4C4C4;
}

.menu-nav li{
  margin-top: -20px;
  display: inline;
}



.header a {
  align-items: center;
}

.link {
  color: #000;
  padding: 8px 24px;
  font-size: 24px;
  transition: .5s ease;
  position: relative;
  font-family: 'Montserrat', sans-serif;
}

.link::after {
  content: '';
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  width: 0%;
  height: 2px;
  transform: translate(13%, -50%);
  transition: 0.5s ease;
}

.link:hover {
  opacity: .5;
}

.link:hover::after {
  width: 80%;
  background: black;
}

.img-slider{
  height: 540px;
  object-fit: cover;
  object-position: center;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) brightness(0.6) contrast(1.3);

}


.slideshow-container {
  margin: 0px 75px 0px 75px;
  position: relative;
}


.mySlides {
  display: block;
}


.prev, .next {
  cursor: pointer;
  width: 64px;
  height: 64px;
  position: absolute;
  top: 50%;
  margin-left: 16px;
  margin-right: 16px;
  padding: 20px;
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 50%;
  user-select:all;

}

.next {
  right: 0;
  border-radius: 50%;
  padding: center;
}

.prev:hover, .next:hover {
  font-size: 32px;
  text-align: center;
  width: 72px;
  height: 72px;
  padding: 13px;
  background-color: rgba(0,0,0,0.8);
}

.text {
  color: #f2f2f2;
  font-family: 'Richie Brusher', Arial;
  font-weight: 700;
  font-size: 132px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
 
}

.text p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 24px;
  
}



.dot {
  background-image: url('https://images.unsplash.com/photo-1604147706283-d7119b5b822c?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8YmFja2dyb3VuZCUyMHRleHR1cmV8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60');
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #ffffff;
  border: 1px solid #000000;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;

}

.active, .dot:hover {
  background-image: none;
  background-color: #000000;
}


.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

.container-main{
  background-image: url('https://images.unsplash.com/photo-1604147706283-d7119b5b822c?ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8d2hpdGUlMjB0ZXh0dXJlJTIwYmFja2dyb3VuZHxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60');
  background-size: contain;
  background-attachment: fixed;
  display: block;
  margin: -41px 75px 0px 75px ;
  text-align: center;
}

.menu-topicos{
  display: flex;
  justify-content:space-evenly;
  margin-top: 50px;
  margin-bottom: 30px;
}

.div-alim{
  background-image: url('https://images.unsplash.com/photo-1534132927252-b55bbafba352?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80');
  background-size: contain;
}

.div-rec{
  background-image: url('https://images.unsplash.com/photo-1533383915223-f99474794bd3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80');
  background-size: contain;
}

.div-vegan{
  background-image: url('https://images.unsplash.com/photo-1484980972926-edee96e0960d?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=387&q=80');
  background-size: contain;
}

.div-vegan, .div-rec, .div-alim{
  width:  250px;
  height: 380px;
  border-radius: 48px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  
  transition: transform .4s;
}




.div-vegan:hover, .div-rec:hover, .div-alim:hover{
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1) ease;
}

.botao-menu{
  position: relative;
  margin-top: 260px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
  color: #ffffff;
  font-size: 24px;
  background: rgba(196, 196, 196, 0.8);
  border-radius: 25px;
  border: none;
  width: 200px;
  height: 90px;
}


.botao-menu .material-icons-outlined{
  color: #ffffff;
  margin-top: 5px;
  transform: scale(2.0);
  padding: 10px;
  border-radius: 50%;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}



.botao-menu .material-icons-outlined:hover{
  color: #000000;
  filter: opacity(50%);
}


.container-main h2{
  font-family:'Richie Brusher', Arial;
  font-weight: 700;
  font-size: 50px;
}

.container-main h3{
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 30px;
  
}

.container-main p{
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 35px;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}
button:focus {
  outline: none;
  border: none;
}

.second-slider{
  height: 700px;
}


.app {
  margin-top: 50px;
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.app__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -5;
  pointer-events: none;
  user-select: none;
  overflow: hidden;
}
.app__bg::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #000;
  z-index: 1;
  opacity: 0.8;
}
.app__bg__image {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) translateX(var(--image-translate-offset, 0));
  width: 180%;
  height: 180%;
  transition: transform 1000ms ease, opacity 1000ms ease;
  overflow: hidden;
}
.app__bg__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.app__bg__image.current--image {
  opacity: 1;
  --image-translate-offset: 0;
}
.app__bg__image.previous--image, .app__bg__image.next--image {
  opacity: 0;
}
.app__bg__image.previous--image {
  --image-translate-offset: -25%;
}
.app__bg__image.next--image {
  --image-translate-offset: 25%;
}

.cardList {
  position: absolute;
  width: calc(3 * var(--card-width));
  height: auto;
}
.cardList__btn {
  --btn-size: 35px;
  width: var(--btn-size);
  height: var(--btn-size);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 100;
}
.cardList__btn.btn--left {
  left: -5%;
}
.cardList__btn.btn--right {
  right: -5%;
}
.cardList__btn .icon {
  width: 100%;
  height: 100%;
}
.cardList__btn .icon svg {
  width: 100%;
  height: 100%;
}
.cardList .cards__wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  perspective: 1000px;
}

.card {
  --card-translateY-offset: 100vh;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) translateX(var(--card-translateX-offset)) translateY(var(--card-translateY-offset)) rotateY(var(--card-rotation-offset)) scale(var(--card-scale-offset));
  display: inline-block;
  width: 260px;
  height: 430px;
  transition: transform var(--card-transition-duration) var(--card-transition-easing);
  user-select: none;
  border-radius: 50px;
}
.card::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #000;
  z-index: 1;
  transition: opacity var(--card-transition-duration) var(--card-transition-easing);
  opacity: calc(1 - var(--opacity));
  border-radius: 20px;
}
.card__image {
  position: relative;
  width: 100%;
  height: 100%;
}
.card__image img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}
.card.current--card {
  --current-card-rotation-offset: 0;
  --card-translateX-offset: 0;
  --card-rotation-offset: var(--current-card-rotation-offset);
  --card-scale-offset: 1.2;
  --opacity: 0.8;
}
.card.previous--card {
  --card-translateX-offset: calc(-1 * var(--card-width) * 1.1);
  --card-rotation-offset: 25deg;
}
.card.next--card {
  --card-translateX-offset: calc(var(--card-width) * 1.1);
  --card-rotation-offset: -25deg;
}
.card.previous--card, .card.next--card {
  --card-scale-offset: 0.9;
  --opacity: 0.4;
}

.infoList {
  position: absolute;
  width: calc(3 * var(--card-width));
  height: var(--card-height);
  pointer-events: none;
  /*margin: 2px red*/
  
}
.infoList .info__wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  perspective: 1000px;
  transform-style: preserve-3d;
}

.info {
  margin-bottom: calc(var(--card-height) / 8);
  margin-left: calc(var(--card-width) / 1.5);
  transform: translateZ(2rem);
  transition: transform var(--card-transition-duration) var(--card-transition-easing);
}


.info .text {
  position: relative;
  font-family: "Montserrat";
  font-size: calc(var(--card-width) * var(--text-size-offset, 0.2));
  white-space: nowrap;
  color: #fff;
  width: fit-content;
}


.info .name{
  text-transform: uppercase;
}

.info .location {
  font-family: 'Richie Brusher', Arial;
  --mg-left: 40px;
  --text-size-offset: 0.12;
  font-weight: 600;
  margin-left: var(--mg-left);
  margin-bottom: calc(var(--mg-left) / 2);
  padding-bottom: 0.8rem;
}
.info .location::before, .info .location::after {
  content: "";
  position: absolute;
  background: #fff;
  left: 0%;
  transform: translate(calc(-1 * var(--mg-left)), -50%);
}
.info .location::before {
  top: 50%;
  width: 20px;
  height: 5px;
}
.info .location::after {
  bottom: 0;
  width: 60px;
  height: 2px;
}
.info .description {
  --text-size-offset: 0.065;
  font-weight: 500;
}

.contato-insta{
  display: flex;
  text-align: center;
  width: 30px;
  height: 30px;
  color: #ffffff;
  line-height: 35px;
  font-weight: 700;
}

.contato-insta img{
  display: flex;
  flex-direction: column;
  pointer-events:painted;
  transition: 0.3s ease;
}

.contato-insta img:hover{
  opacity: 80%;
  transform: scale(1.1);
}


#kaio{
  margin-top: -5px;
  margin-left: 85px;
  border-radius: 50px;
}

#jess{
  margin-top: -5px;
  margin-left: 65px;
  border-radius: 50px;
}

#je{
  margin-top: -5px;
  margin-left: 67px;
  border-radius: 50px;
}

#nick{
  margin-top: -5px;
  margin-left: 44px;
  border-radius: 50px;
}
.info.current--info {
  opacity: 1;
  display: block;
}
.info.previous--info, .info.next--info {
  opacity: 0;
  display: none;
}

.loading__wrapper {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #000;
  z-index: 200;
}
.loading__wrapper .loader--text {
  color: #fff;
  font-family: "Montserrat";
  font-weight: 500;
  margin-bottom: 1.4rem;
}
.loading__wrapper .loader {
  position: relative;
  width: 200px;
  height: 2px;
  background: rgba(255, 255, 255, 0.25);
}
.loading__wrapper .loader span {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background:greenyellow;
  transform: scaleX(0);
  transform-origin: left;
}

@media only screen and (min-width: 800px) {
  :root {
    --card-width: 250px;
    --card-height: 400px;
  }
}
.support {
  position: absolute;
  right: 10px;
  bottom: 10px;
  padding: 10px;
  display: flex;
}
.support a {
  margin: 0 10px;
  color: #fff;
  font-size: 1.8rem;
  backface-visibility: hidden;
  transition: all 150ms ease;
}
.support a:hover {
  transform: scale(1.1);
}

.container-contato{
  background-image: url('https://images.unsplash.com/photo-1604147706283-d7119b5b822c?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8YmFja2dyb3VuZCUyMHRleHR1cmV8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60');
  background-size: contain;
  background-attachment: fixed;
  margin: 50px 75px 0px 75px ;
  display: grid;
  grid-template-columns: 1fr 2fr;
  filter: brightness(95%);
  max-height: 800px;
}

.img-contato{
  height: 800px;
  width: 80%;
}
.img-contato img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.forms{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-right: 1rem;
  padding-left: 1rem;
}

.forms h3{
  font-family: 'Richie Brusher';
  color: #000;
  font-size: 48px;
}

.form{
  transform: scale(.9);
  display: relative;
  background: rgba(58, 58, 58, 0.65);
  border-radius: 11px;
  padding: 32px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  height: 100%;
}

.form h4{
  font-weight: 700;
  font-size: 36px;
}

.form p{
  font-weight: 400;
  font-size: 24px;
}

#linha-contato{
  width: 40%;
  border: 3px solid #3A3A3A;
  background-color: #3A3A3A;
}
.form label,
.form input,
.form textarea,
.form button {
  display: block;
  width: 100%;
  font-size: 24px;
}

.form label{
  line-height: 1.1;
  margin-bottom: 0.5rem;
}


.form input,
.form textarea {
  background: #C4C4C4;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 11px;
  height: 50px;
  font: inherit;
  padding: 0.8rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 8px;
}

.form textarea{
  resize: none;
  height: 120px;
}

.form input:hover,
.form input:focus,
.form textarea:hover,
.form textarea:focus {
  outline: none;
  border-color:  #000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.form button {
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 32px;
  display: flex;
  background-color: #3A3A3A;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  height: 60px;
  width: 200px;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  transition: .3s ease;
  margin-left: 30%;
  margin-top: 25px;
}

.form .material-icons-outlined{
  margin-left: 10px;
  transform: scale(1.5);
}

.form button:hover{
  background-color: #000;
}




#subir{
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Montserrat';
  font-weight: 400;
	position:fixed;
	bottom:25px;
	right:25px;
  background: rgba(58, 58, 58, 0.65);
  height: 65px;
  width: 65px;
  border-radius: 50%;
  color: #f2f2f2;
  transition: .3s ease;
}

#subir:hover{
  background-color: #000;
}

.voltarTopo .material-icons-outlined{
  transform: scale(1.5);
}


footer{
  font-family: 'Montserrat';
  margin-top: 50px;
  position: relative;
  text-align: center;
  color: white;
  background: #000000;
  width: 100%;
  height: 50px;
  bottom: 0;
}

.rodape{
  display: grid;
  align-self: center;
}

@-webkit-keyframes fade {
  from {opacity: .8}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .8}
  to {opacity: 1}
}