@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;800&display=swap");


@font-face {
  font-family: 'Richie Brusher';
  src: url('../Richie Brusher.ttf') format('opentype');
  font-weight: bold;
  font-style: normal;
}


:root {
  --card-width: 0px;
  --card-height: 0px;
  --card-transition-duration: 800ms;
  --card-transition-easing: ease;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body::-webkit-scrollbar{
  width: 8px;
 }
 
 body::-webkit-scrollbar-track{
   background:#c4c4c4;
 
 }
 
 body::-webkit-scrollbar-thumb {
   background-color: black;  
   border-radius: 20px;  
   border: 2px solid #c4c4c4;
 }

.header-superior{
  background: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  
}


.logo{
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  border-radius: 50%;
  position: relative;
  width: 64px;
  height: 64px;
}

.logo img{
  margin-top: 15px;
  width: 90px;
  height: 90px;
  
}

.menu-logo {
  display: flex;
  justify-content: center;
  margin-top: 8px;
  text-align: center;
  font-family: 'Richie Brusher', Arial;
  font-size: 4em;
  font-weight: bold;
  color: black;
  
}



.mobile-menu{
  opacity: 0;
}

.menu-logo a {
  color: black;
}


.menu-logo a:hover {
  color: #000;
  text-decoration: none;
}

.nav-list {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 16px 16px;
  
  transition: transform .3s ease-in;
}
.menu-nav{
  height: 64px;
  box-shadow: 5px 4px 3px #C4C4C4;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 16px 16px;
  margin-top: -10px;
  transition: transform .3s ease-in;
}
.menu-nav li {
  margin-top: -23px;
  display: inline;
  letter-spacing: 3px;
}

.mobile-menu div{
  width: 32px;
  height: 2px;
  background: #000;
  margin: 8px;
  
}


.link {
  color: #000;
  padding: 8px 23px;
  font-size: 23px;
  transition: .5s ease;
  position: relative;
  font-family: 'Montserrat', sans-serif;
}

.link::after {
  content: '';
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  width: 0%;
  height: 2px;
  transform: translate(13%, -50%);
  transition: 0.5s ease;
}

.link:hover {
  color: #000;
  text-decoration: none;
  opacity: .5;
}

.link:hover::after {
  width: 80%;
  background: black;
}

#link-active {
  padding: 8px 23px;
  font-size: 23px;
  transition: .5s ease;
  position: relative;
  font-family: 'Montserrat', sans-serif;
  color: white;
  background: rgba(58, 58, 58, 0.65);
  border-radius: 50px;
  border: none;
  outline: none;
  transition: .5s ease;
}

#link-active:hover {
  text-decoration: none;
  background-color: #000;
}

#link-active::after {
  background: rgba(58, 58, 58, 0.65);
  border: none;
  outline: none;
}



.link-items {
  display: flex;
  background: rgba(0, 0, 0, 0.25);
  margin: 0px 75px 0px 75px;
  text-align: center;
  justify-content: space-evenly;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35);
  color: #000;
  height: 62px;
  position: relative;
  z-index: 10;
  animation-direction: alternate;
}


.mobile-nav-list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.mobile-nav-list li {
  margin-top: 18px;
  margin-left: 10px;
}


.second-mobile-menu{
  display: none;
}

.second-mobile-menu div{
  height: 2px;
  margin: 2px;
  width: 20px;
  background: #fff;
  transition: .5s ease-in-out;
}

.mobile-nav-list a {
  text-decoration: none;
  padding: 12px;
  color: #000;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 500;
  border-radius: 50px;
  transition: 0.2s ease;
  background: none;
}

.mobile-nav-list a:hover {
  text-decoration: none;
  color: #ffff;
  background: rgba(58, 58, 58, 0.65);
  border-radius: 50px;
  padding: 12px;
}

@media (max-width: 1290px){
  .link-items {
    height: 85px;
  }
  
  .mobile-nav-list {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-content: space-evenly;
    align-items: center;
  }

  .mobile-nav-list li {
    margin-top: 11px;
    margin-left: 5px;
  }

  .mobile-nav-list a {
    font-size: 16px;
  }
}

@media (max-width: 875px){

  
  body{
    overflow-x: hidden;
  }


  .header-superior{
    background: #fff;
    z-index: 200;
    width: 100%;
    box-shadow: 5px 4px 3px #c4c4c4;
    height: 70px;
    margin-bottom: 10px;
  }
  .logo img{
    margin-top: 0;
    width: 60px;
    height: 60px;
    z-index: 200;
  }
  .menu-logo{
    font-size: 2.5em;
    z-index: 200;
    margin-top: 10px;
  }
  .menu-logo a{
    margin-top: 10px;
  }
  .mobile-menu{
    display: block;
    opacity: 1;
    cursor: pointer;
    z-index: 170;
    transition: .3s ease;
  }

  .header-inferior{
    height: 0px;
  }

  .menu-nav{
    box-shadow: none;
  }


  .nav-list{
    z-index: 1;
    position: absolute;
    right: 0;
    top: 8vh;
    width: 30vh;
    height: 92vh;
    background: #fff;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: none;
    transform: translateX(100%);
    transition: transform .3s ease-in;
    border-bottom-left-radius: 30px;
  }

  .nav-list li{
    margin-top: -50px;
    margin-left: 0;
    opacity: 0;
  }

  .link {
    padding: 4px 18px;
    font-size: 18px;
    transition: .5s ease;
  }

  #link-active {
    padding: 8px 18px;
    font-size: 18px;
  }

  .link-items{
    height: 0;
  }

  .second-mobile-menu{
    position: absolute;
    z-index: 1;
    background: rgba(58, 58, 58, 0.65);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    margin-top: -50px;
    right: -25px;
    top: 10px;
  }

  .mobile-nav-list{
    display: flex;
    z-index: 191;
    position: absolute;
    flex-direction: column;
    right: -12vh;
    height: 89.5vh;
    width: 32vh;
    background: #C4C4C4;
    justify-content: space-evenly;
    align-items: center;
    transform: translateX(100%);
    transition: transform .3s ease-in;
    border-bottom-left-radius: 30px;
  }
  .mobile-nav-list li{
    margin-left: 12px;
    opacity: 0;
  }

  
  
}

.nav-list.active {
  transform: translateX(0);
}

.mobile-nav-list.active{
  transform: translateX(0);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(250px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.mobile-menu.active .line1 {

  transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
  opacity: 0;
}

.mobile-menu.active .line3 {
  transform: rotate(45deg) translate(-5px, -7px);

}

.second-mobile-menu.active{
  transition: .3s step-end;
  top: -25vh;
  right: 14vh;
  width: 75px;
  height: 75px;
  background: #C4C4C4;
}

.second-mobile-menu.active .second-line1 {
  transform: rotate(-45deg) translate(-4px, 5px);
  background: black;
}

.second-mobile-menu.active .second-line2 {
  opacity: 0;
}

.second-mobile-menu.active .second-line3 {
  transform: rotate(46deg) translate(-3px, -5px);
  background: black;
}


.conteudo {
  background-image: url('https://images.unsplash.com/photo-1604147706283-d7119b5b822c?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8YmFja2dyb3VuZCUyMHRleHR1cmV8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60');
  background-size: cover;
  display: flex;
  align-items: center;
  text-align: center;
  margin: 0px 75px 0px 75px;
  z-index: 180 !important;
  justify-content: center;
  padding: 60px;
  flex-direction: column;
  color: black;
}

@media (max-width: 875px){
  .conteudo{
    margin-top: 5px;
  }

  .conteudo h3{
    margin: auto;
  }
}
.conteudo h3 {
  font-family: 'Montserrat', sans-serif;
  margin-top: -15px;
  font-size: 30px;
  font-weight: 700;
}


.conteudo p {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
}

.game-section {
  padding: 60px 75px;
}

#section-title {
  font-family: 'Richie Brusher', Arial;
  font-size: 45px;
  text-align: center;
  padding: 32px;
  margin-top: -16px;
}

.game-section .owl-stage {
  display: flex;
  display: -webkit-flex;
}

.game-section .item {
  margin: 0 15px 60px;
  width: 320px;
  height: 400px;
  display: flex;
  display: -webkit-flex;
  align-items: flex-end;
  -webkit-align-items: flex-end;
  background: #343434 no-repeat center center / cover;
  border-radius: 16px;
  overflow: hidden;
  position: relative;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  cursor: pointer;
}

.game-section .item.active {
  width: 500px;
  box-shadow: 12px 20px 20px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 12px 20px 20px rgba(0, 0, 0, 0.25);
}

.game-section .item:after {
  content: "";
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
}

.game-section .item-desc {
  font-family: 'Montserrat';
  padding: 0 24px 12px;
  color: #fff;
  position: relative;
  z-index: 1;
  overflow: hidden;
  transform: translateY(calc(100% - 54px));
  -webkit-transform: translateY(calc(100% - 54px));
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
}

.game-section .item-desc h3{
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 24px;
}

.game-section .item.active .item-desc {
  transform: none;
  -webkit-transform: none;
}

.game-section .item-desc a {
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  border-radius: 8px;
  padding: 8px;
  text-decoration: none;
  opacity: 0;
  -webkit-transform: translateY(32px);
  transform: translateY(32px);
  transition: all 0.3s ease;

}

.game-section .item.active .item-desc a {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

.game-section .item.active .item-desc a:hover {
  opacity: 45%;
}

.game-section .owl-theme.custom-carousel .owl-dots {
  margin-top: -20px;
  position: relative;
  z-index: 5;
}

/******** Middle section CSS End *******/

/***** responsive css Start ******/

@media (min-width: 992px) and (max-width: 1199px) {
  h2 {
    margin-bottom: 32px;
  }

  h3 {
    margin: 0 0 8px;
    font-size: 24px;
    line-height: 32px;
  }

  /* -------- Landing page ------- */
  .game-section {
    padding: 50px 30px;
  }

  .game-section .item {
    margin: 0 12px 60px;
    width: 260px;
    height: 360px;
  }

  .game-section .item.active {
    width: 400px;
  }

  .game-section .item-desc {
    transform: translateY(calc(100% - 46px));
    -webkit-transform: translateY(calc(100% - 46px));
  }

  .game-section .item-desc h3{
    font-size: 22px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  h2 {
    margin-bottom: 32px;
  }

  h3 {
    margin: 0 0 8px;
    font-size: 24px;
    line-height: 32px;
  }

  .line-title {
    width: 330px;
  }

  /* -------- Landing page ------- */
  .game-section {
    padding: 50px 30px 40px;
  }

  .game-section .item {
    margin: 0 12px 60px;
    width: 240px;
    height: 330px;
  }

  .game-section .item.active {
    width: 360px;
  }

  .game-section .item-desc {
    transform: translateY(calc(100% - 42px));
    -webkit-transform: translateY(calc(100% - 42px));
  }

  .game-section .item-desc h3{
    font-size: 20px;
  }
}

@media (max-width: 767px) {
  body {
    font-size: 14px;
  }

  h2 {
    margin-bottom: 20px;
  }

  h3 {
    margin: 0 0 8px;
    font-size: 19px;
    line-height: 24px;
  }

  .line-title {
    width: 250px;
  }

  .game-section {
    padding: 30px 15px 20px;

  }

  .game-section .item {
    margin: 0 10px 40px;
    width: 200px;
    height: 280px;
  }

  .game-section .item.active {
    width: 270px;
    box-shadow: 6px 10px 10px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 6px 10px 10px rgba(0, 0, 0, 0.25);
  }

  .game-section .item-desc {
    padding: 0 14px 5px;
    transform: translateY(calc(100% - 42px));
    -webkit-transform: translateY(calc(100% - 42px));
  }

  .game-section .item-desc h3{
    font-size: 18px;
  }
}


@media (max-width: 700px){

  body{
    overflow-x: hidden;
  }

  .conteudo{
    padding: 22px;
    margin: 5px 30px 0 30px;
  }
 
  .conteudo h3{
    margin: auto;
    font-size: 22px !important;
    line-height: 24px;
    padding: 0;
  }
  .conteudo  p{
    margin: auto;
    margin-top: 20px;
    font-size: 16px !important;
    line-height: 24px;
  }

  #section-title{
    font-size: 36px;
  }
}

#subir {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Montserrat';
  font-weight: 400;
  position: fixed;
  bottom: 25px;
  right: 25px;
  background: rgba(58, 58, 58, 0.65);
  height: 65px;
  width: 65px;
  border-radius: 50%;
  color: #f2f2f2;
  transition: .3s ease;
  z-index: 10;
}

#subir:hover {
  background-color: #000;
  text-decoration: none;
}


.voltarTopo .material-icons-outlined {
  transform: scale(1.5);
}


footer {
  font-family: 'Montserrat';
  margin-top: 50px;
  position: relative;
  text-align: center;
  color: white;
  background: #000000;
  width: 100%;
  bottom: 0;
}

.rodape {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.rodape img{
  width: 120px;
  height: 120px;
}

#preloader {
  position:fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background-color:#000; /* cor do background que vai ocupar o body */
  z-index:999; /* z-index para jogar para frente e sobrepor tudo */
}
#preloader .inner {
  position: absolute;
  top: 50%; /* centralizar a parte interna do preload (onde fica a animação)*/
  left: 50%;
  transform: translate(-50%, -50%);  
}
.bolas > div {
display: inline-block;
background-color: #fff;
width: 25px;
height: 25px;
border-radius: 100%;
margin: 3px;
-webkit-animation-fill-mode: both;
animation-fill-mode: both;
animation-name: animarBola;
animation-timing-function: linear;
animation-iteration-count: infinite;
 
}
.bolas > div:nth-child(1) {
  animation-duration:0.75s ;
  animation-delay: 0;
}
.bolas > div:nth-child(2) {
  animation-duration: 0.75s ;
  animation-delay: 0.12s;
}
.bolas > div:nth-child(3) {
  animation-duration: 0.75s  ;
  animation-delay: 0.24s;
}

@keyframes animarBola {
0% {
  -webkit-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}
16% {
  -webkit-transform: scale(0.1);
  transform: scale(0.1);
  opacity: 0.7;
}
33% {
  -webkit-transform: scale(1);
  transform: scale(1);
  opacity: 1; 
} 
}